# This file is used to set environment variables for the development environment.
VITE_ENV=development

# Where to find the backend API
VITE_API_URL=http://localhost:5016

# Sentry DSN for error tracking
VITE_SENTRY_DSN=

# Google Client ID for authentication
VITE_GOOGLE_CLIENT_ID=
